{% extends 'base.html' %}
{%  load static %}

{% block content %}
    <div class="hello_text">
        <span>
            Главная странница лучшего интернет магазина койлов в стране
        </span>
    </div>
    <div class="social">
        <div class="vk_container1">
            <span>
                Оставляйте свои отзывы
            </span>
            <div class="vk">
            </div>
        </div>
         <div class="vk_container2">
        <span>
            Продавайте свои девайсы
        </span>
        <div class="vk">
        </div>
    </div>
    </div>






{% endblock %}
